<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h4><a href="/logout">logout</a></h4>
  <h4><a href = "/quotes">Dashboard</a></h4>
</div>
{% for hello in data %}
<p> Posts by: {{hello.creator.name}}</p>
{% endfor %}
<p> count:</p>
<h1>POSTS</h1>
{% for hi in data %}
<p>{{hi.author}} </p>
<p>{{hi.comment}}</p>
{% endfor %}

</body>
</html>
